@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*General Styling */
.row {
    height: 90%;
}

.section-headers {
    font-family: "Bebas Neue";
    color: #3399FF;
    font-size: 4em;
    text-align: center;
    padding-top: 2%;
}

/* Intro Page */
#intro {
    font-size: 6em;
    font-family: 'Bebas Neue';
    color: #333399;
    text-align: center;
    position: relative;
}

#intro h2 {
    font-size: 30px;
    font-family: 'Bebas Neue';
    color: #3399FF;
}

/* Scroll Icon */
/* https://codepen.io/nxworld/pen/OyRrGy */
#intro span {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
#intro span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#intro span:nth-of-type(2) {
    top: 83%;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#intro span:nth-of-type(3) {
    top: 86%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Background */
.background .section-headers {
    padding-top: 0%;
}

.card {
    width: 60em;
    height: 40em;
    margin: 0 auto;
    float: none;
    background-color: #fff;
}

.card-body {
    font-size: 1em;
    font-family: helvetica, arial;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.card-text {
    color: #3366CC;
}

.background .viz_headers {
    padding-top: 0%;
}


/* Visualization Slide Styling */

div#visualizations.col.visualization {
    color: #3366CC;
    font-family: helvetica, arial;
}

div.col.vizText {
    color: #3366CC;
    font-family: helvetica, arial;
}

h4.visualization_text {
    color: #3366CC;
    font-family: helvetica, arial;
    text-align: left;
}

.iframe-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
}

.iframe-container {
    text-align: right;
    width: 100%;
    height: 100%;
    display: block;
}

/* Conclusion */
#conclusion .section-headers {
    padding-top: 0%;
}

#conclusion p {
    color: #3366CC;
}

/* Acknowledgements */
#acknowledgements h2 {
    font-size: 2em;
    font-family: 'Bebas Neue';
    color: #3366CC;
    font-weight: bold;
}

a {
    color:  #3399FF;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

p {
    font-size: 1em;
    font-family: helvetica, arial;
    color: #3366CC;
    text-align: left;
}

li {
    font-size: 1em;
    font-family: helvetica, arial;
    color: #3366CC;
    text-align: left;
}

#acknowledgements {
    padding-left: 7%;
    padding-right: 7%;

}



